html,
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}
body {
    background-color: #28231d;
}

h2 {
    text-decoration: underline;
    margin-bottom: .7vh;
}
h6 {
    text-align: right;
}
li {
    list-style: circle;
    margin-left: 5%;
}

.container {
    margin: 1% 10%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5vw;
 }

.contact-profile {
  display: grid;
  grid-row: repeat(6, 1fr);
  gap: 1.5vh;
  background-color: #48aaad;
  color: #fff;
  padding: 2vh 5vh;
}

.picture-contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5%;
    margin-top: -2rem;
}

.picture  {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.picture img {
    margin-top: -50px;
    width: 100%;
    height: auto;
}

.contact-information {
 margin: 5% 15%;
 }

 .contact-information h3 {
    font-size: 18px;
 }
 .contact-information li {
    font-size: 1rem;
 }

.education-experience {
  display: grid;
  grid-row: repeat(5, 1fr);
  gap: 1.5vh;
  background-color: #fff;
  padding: 2vh 5vh;
}

.full-name {
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: #48aaad;
   margin-top: -2rem;
}

.full-name h2 {
    font-size:2rem;
    text-decoration: none;
}

.website-linkedin li {
    list-style: disc;
}

.important-place {
    font-weight: bold;
}

footer {
    width: 100%;
    /* height: 150px; */
    background-color: #000;
}
.footer-links {
    padding: 1% 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.footer-links img{
    height: 50px;
}

.footer-links a{
 text-decoration: none;
 color: #fff;
}
